body
{
  background-color:#faf2f2;
  color:black;
}

hr
{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  text-decoration-style: wavy;
}

h1
{
  color: #eb6383;
}

h3
{
  text-align: left;
  background-size: cover;
  color:#eb6383;
}

img
{
  border-radius: 10%;
}
